<% if signed_in? %>
  <div class="row">
    <aside class="span3">
      <section>
        <%= render 'shared/user_info' %>
      </section>
      <section>
        <%= render 'shared/stats' %>
      </section>
      <section>
        <%= render 'shared/micropost_form' %>
      </section>

      <h3>Top Users</h3>
<ul class="users">
  <% q=1 %>
  <% for @user in @users %>
    
    <li>
    <span class="badge badge-success">#<%= q %></span>
  </br>
  <%= link_to gravatar_for(@user), @user %>
  <%= link_to @user.name, @user%>
    
    <span class="badge badge-info"><%= user_rating(@user.id) %></span>



  <span style="float:right">
    <%= render 'users/follow_form' %>
  </span>


  </li>
  <% q=q+1 %>

  <%end%>
</ul>


    </aside>
    <div class="span6">
      <h3>My Feed</h3>
      <%= render 'shared/feed' %>
    </div>
    <aside class="span3">  

    <h4>Popular Tags Right Now</h4>

    <ol class="microposts">
        <%= render partial: 'shared/tag_unit', collection: @top_tags %>
    </ol>
    

    </aside>
  </div>  
<% else %>



  <div class="center hero-unit">
    
    <div class="row">

    <aside class="col-md-6">
    <h1>Welcome to Picksure</h1>

    <h2>
      the social network that is changing the game
    </h2>

    </aside>

    <%= button_to 'Create a new account', signup_path, class:"btn btn-large btn-success", :method => "get" %>
    </div>
    <p>or sign in below if you already have an account</p>
  </div>

<div class="span6 offset3">
    <%= form_for(:session, url: sessions_path, htlm: {class: "form-inline"}) do |f| %>

      <%= f.label :email %>
      <%= f.text_field :email %>

      <%= f.label :password %>
      <%= f.password_field :password %>

      <%= f.submit "Sign in", class: "btn btn-large btn-success" %>
    <% end %>
  </div>
  

  
<% end %> 