<h1>Mixer</h1>
<% arr=Array.new %>

<% @view_its.each do |its|%>
	<% arr.push(its.id) %>
<% end %>

<ul>
<% @view_its.each do |feed_item| %>
	<li id="<%= feed_item.id %>">
  <%= link_to gravatar_for(feed_item.user), feed_item.user %>
    <span class="user">
      <%= link_to feed_item.user.name, feed_item.user %>
    </span>
    
    <span style="color:purple">=> User Rating: <%= user_rating(feed_item.user.id) %></span>

    <span class="content"><%= print_content_with_tags_and_users(feed_item.content) %></span>
    
    </br>

    <span style="color:orange">Rating: <%= feed_item.rating %></span>

    <span class="timestamp">
      Posted <%= time_ago_in_words(feed_item.created_at) %> ago.
    </span>

  <% if current_user?(feed_item.user) %>
    <%= link_to "delete", feed_item, method: :delete,
                                     data: { confirm: "You sure?" },
                                     title: feed_item.content %>
  <% end %>

	
	<%= form_for(feed_item) do |f| %>
      <div><%= f.hidden_field :rating, value: mprate(feed_item.rating, true) %></div>
      <div><%= f.hidden_field :rate_ids, value: arr %></div>
      <%= f.submit "Rate+", class: "btn btn-xs btn-info" %>
    <% end %>
    </li> 
<% end %>
</ul>