<li id="<%= feed_item.id %>">
  <%= link_to gravatar_for(feed_item.user), feed_item.user %>
    <span class="badge badge-info"><i class="icon-user"></i><%= link_to feed_item.user.name, feed_item.user, style: "color:white" %>
      </span>
      <i class="icon-arrow-right"></i> 
      <span class="badge badge-info"><%= user_rating(feed_item.user.id) %></span>
      <span class="timestamp">|    Posted <%= time_ago_in_words(feed_item.created_at) %> ago </span>
    
    <%if feed_item.pic_url.present?%>
    <span><img src= <%= feed_item.pic_url %> ></span>
    <%end%>
    </br>

    <div class="well" id="wordwrap"><%= print_content_with_tags_and_users(feed_item.content) %></div>

    <span style="color:orange">
      <i class="icon-arrow-up"></i>
      <span class="badge badge-warning"><%= real_rate(feed_item.id) %></span>
      </span>
      <span>| #of_rates<i class="icon-arrow-right"></i> <%= view_counter(feed_item.id) %> </span>
      
      
      <%= link_to feed_item, class: "btn" do %>


      <span class="badge" style="margin-right:.5em">
        <%= feed_item.comments.count%></span>
        <i class="icon-comment"></i>
      
      <% end %>
      

      

      <% if current_user?(feed_item.user) %>
      <%= link_to "delete", feed_item, method: :delete,
                                     data: { confirm: "You sure?" },
                                     title: feed_item.content %>
      <% end %>

      
          <%= form_for(current_user.comments.build) do |f|%>
          <%= render 'shared/error_messages', object: f.object %>
          <div class="field", style="margin-top:.6em">
            <%= f.text_area :content, placeholder: "Create a new comment..." %>
          </div>
          <%= f.hidden_field :micropost_id, value: feed_item.id %>
          <%= f.submit "Comment", class: "btn btn-small btn-success", style: "margin-top:-1.2em" %>
      <% end %>
      

</li>